* { margin:0; padding: 0; box-sizing: border-box;}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    text-rendering: optimizeLegibility !important; /* deixa a fonte menos "pixalizada". A 2ª propriedade sobreescreve qualquer outra text-rendering*/
    -webkit-font-smoothing: antialiased !important;
    font-size: 14px;
    font-weight: 700;
    background: #23282c;
}

.container {
    padding: 0px 10px;
}

.header {
    height: 55px;
    display: flex;
    align-items: center;
    background-color: #000000;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.list {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.list li:first-child {
    margin-left: 45px;
}

.first-list-element {
    margin-right: 3px;
    margin-top: 3px;
}

.first-list a {
    font-size: 14px;
}

.first-list li.pro {
    position: relative;
    margin-right: 7px;
    margin-left: 35px;
}

.first-list .pro a:after {
    content: "PRO";
    font-size: 10px;
    position: absolute;
    bottom: 15px;
    right: -21px;
    padding: 2px 3px;
    border-radius: 4px;
    background-color: #fa962a;
    color: #fff;
}

.first-list li:hover a {
    cursor: pointer;
    color: #fa962a;
}

#button-pro {
    margin-bottom: 3px;
}

#button-pro a {
    padding: 5px 8px;
    background-color: #fa962a;
    color: #fff;
    border-radius: 3px;
}

#button-pro:hover a {
    background-color: #f88406;
}

header ul li {
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.last-list {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.last-list:first-child {
}

.fa-heart {
    color: red;
    font-size: 20px;
}

.last-list li .icon {
    display: flex;
    align-items: center;
}

.photo-icon {
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.fa-chevron-down {
    color: #fff;
    margin-left: 5px;
}

.fa-bell {
    font-size: 25px;
    color: #b0afaf;
    margin-right: 20px;
}

/* -----------Estilizando o main--------------- */

main {
    border: 1px solid red;
}

#main {
    margin-top: 40px;
}

main div.columns {
    display: grid;
    grid-template-columns: 335px 670px 335px;
}

main div.columns div.col-1 {
    border: 1px solid blue;
}

/* -----------Estilizando o menu-list (col-1) dentro do main----------- */
.col-1-perfil {
    display: flex;
}

.col-1-perfil-img {
    margin-right: 15px;
}

.col-1-perfil-img {
    width: 60px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.col-1-perfil-autor-level {
    display: flex;
    align-items: center;
}

.col-1-perfil-autor {
    color: #fff;
}

#col-1-perfil-level {
    font-size: 12px;
    margin-left: 5px;
    padding: 1px 8px;
    background-color: #00af00;
    color: #fff;
    border-radius: 10px;
}

#xp {
    color: white;
    font-weight: 400;
}

#xp-bar {
    width: 130px;
    height: 8px;
    display: block;
    background-color: #00af00;
    border-radius: 3px;
}

.col-1-menu {
    margin-top: 50px;
    padding-left: 15px;
}

.col-1-menu-list {
    list-style-type: none;
}

.col-1-menu-list li {
    margin-bottom: 20px;
}

.col-1-menu-list-element {
    display: flex;
}

.col-1-menu-list-title {
    font-size: 17.5px;
}
.col-1-menu-list-img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}